.container {
	height: 100vh;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.signin {
	margin: 10px;
	background-color: white;
	max-width: 350px;
	max-height: 450px;
	background-color: white;
	position: relative;
	border-radius: 25px;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px;
}

input {
	margin: 5px;
	padding: 10px;
	min-width: 250px;
	outline: none;
	border: 1px solid #c5ccda;
	border-radius: 15px;
}

.signin__title {
	margin-bottom: 10px;
}

.form__buttons {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}

.error {
	color: tomato;
	font-size: 14px;
	margin-left: 10px;
}

.success {
	color: #000c40;
	font-size: 14px;
	z-index: 1;
}
